apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-web-app-deployment
  namespace: {{ .Values.namespace }}
  labels:
    {{ include "webAppLabel" . | indent 4 }}
spec:
  replicas: {{ .Values.replica.minReplicas }}
  selector:
    matchLabels:
      {{ include "webAppLabel" . | indent 6 }}
  template:
    metadata:
      labels:
        {{ include "webAppLabel" . | indent 8 }}
    spec:
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
      - name: java-web-app-container
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 8080
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
